[Unit]
Description=Dropbox sync service using rclone

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync dropbox: %h/dropbox --remove-empty-dirs --log-file=%h/.local/state/rclone_bisync.log
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=timers.target
